# Biến môi trường cho cấu hình WSO2 OAuth2 trong môi trường local development
REACT_APP_WSO2_AUTHORIZATION_URL=https://lifesso.lifetex.vn:9445/oauth2/authorize
REACT_APP_WSO2_TOKEN_URL=https://lifesso.lifetex.vn:9445/oauth2/token
REACT_APP_WSO2_USER_INFO_URL=https://lifesso.lifetex.vn:9445/oauth2/userinfo
REACT_APP_WSO2_CLIENT_ID=fyG0Ofbuekh08hKARMxfkOXd_4Ia
REACT_APP_WSO2_CLIENT_SECRET=XbtCAMuADk9FvbIJ5Nf8bhCs2J7wVFVxWfB5hfeDbOUa
REACT_APP_WSO2_REDIRECT_URI=http://localhost:8080/auth/callback
REACT_APP_WSO2_SCOPE=openid address email groups profile roles
REACT_APP_WSO2_POST_LOGOUT_REDIRECT_URI=http://localhost:8080/
